* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(135deg, #232526, #414345);

  --secondaryBackground: rgba(255, 255, 255, 0.15);
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--background);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 550px;
  border-radius: 20px;
  width: 100%;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  background: var(--secondaryBackground);
}

.container h1 {
  margin-bottom: 13px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 1.5);
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border: 3px solid white;
  border-radius: 25px;
  background: var(--background);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: white;
  transition: all 0.3s;
}
.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}
.toggleContainer div {
  padding: 8px;
  text-align: center;
  z-index: 1;
}
.toggleCheckbox {
  display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child {
  color: white;
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
  color: rgb(61, 61, 61);
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
  color: rgb(61, 61, 61);
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
  color: white;
  transition: color 0.3s;
}

.convert {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
  background: rgb(102, 102, 102);
  font-size: 16px;
}

input {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.converter {
  padding: 10px 15px;
  border-bottom: 1px solid grey;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.result {
  padding: 10px 15px;
}

.conversionMethod p {
  margin: 10px 0 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

.formula {
  margin: 25px 0 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.formula h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.formula span {
  font-size: 20px;
  font-weight: 400;
}

footer {
  font-size: 13px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 2);
}

.temp {
  display: none; /* Awalnya disembunyikan */
  flex-direction: column;
  width: 100%;
}

.temp.active {
  display: flex; /* Ditampilkan jika memiliki class 'active' */
}
